body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F4F6F6  ;
    margin: 10px 500px 10px 500px;
    background-color: #7FB3D5 ;
    
}
div{
    background-color: #ffffff;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form{
    text-align: center;
}
li{
    padding: 10px;
}
h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #7FB3D5;
}
input{
    padding: 7px;
}
.add{
    background-color: limegreen;
    color: white;
    margin: 0px;
    border: 0px;
}
.del{
    background-color: red;
    color: white;
    margin: 0px 0px 0px 30px;
    border: 0px;
}
.button {
    display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
  }
  