body{
    font-family: 'Roboto';
    background-color: #AED6F1;
    margin: 10px 500px 10px 500px;
}
div{
    background-color: aliceblue;
    padding: 30px;
    border: 2px solid black;
    border-radius: 25px;
}
form{
    text-align: center;
}
li{
    padding: 10px;
}
h2{
    text-align: center;
}
input{
    padding: 7px;
}
.add{
    background-color: limegreen;
    color: white;
    margin: 0px;
    border: 0px;
}
.del{
    background-color: red;
    color: white;
    margin: 0px 0px 0px 30px;
    border: 0px;
}